# Base API URL for Elysia backend
NUXT_PUBLIC_API_BASE=http://localhost:3030/api # change to production url when build prod
NUXT_PUBLIC_APP_URL=http://localhost:3000 #your app url, change to production url when build prod
