NUXT_PUBLIC_API_BASE=http://localhost:3030/api # change to production url when build prod
NUXT_PUBLIC_APP_URL=http://localhost:3000 #your app url, change to production url when build prod

NUXT_PUBLIC_VIETQR_API=https://api.vietqr.io/v2
NUXT_PUBLIC_MAIN_SITE_URL="MAIN SITE URL"

NUXT_PUBLIC_ZALO_GROUP=https://zalo.me/g/y8ivwnohdiqa6u6updjd

NUXT_PUBLIC_GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
